<div *ngIf="blog == null; else elseBlock">
    <p-progressSpinner></p-progressSpinner>
</div>
<ng-template #elseBlock>
    <div class="grid">
        <div class="col-12">
            <h1>{{blog.title}}</h1>
            <hr />
        </div>
        <p-paginator [rows]="entryPageSize" [totalRecords]="entryCount" (onPageChange)="paginate($event)"
            [rowsPerPageOptions]="[5,10,20,30,{showAll:'All'}]" [showJumpToPageDropdown]="true" [showPageLinks]="false">
        </p-paginator>
        <div class="col-12" *ngFor="let entry of entries">
            <app-entry-card [entry]="entry"></app-entry-card>
        </div>

    </div>
</ng-template>