<p-table [value]="popularAuthors">
    <ng-template pTemplate="header">
        <tr>
            <th>Rating</th>
            <th>Author</th>
            <th>Blogs</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-author>
        <tr>
            <td>
                <p-rating [ngModel]="author.stars_avg" readonly="true" [cancel]="false" class="box mx-auto"></p-rating>
            </td>
            <td>
                <div *ngIf="author.avatar == null; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
                </ng-template>
                <ng-template #elseBlock>
                    <p-avatar [label]="author.avatar" shape="circle"></p-avatar>
                </ng-template>
                {{author.name}}
            </td>
            <td>
                <div class="grid" *ngFor='let blog of author.blogs'>
                    <div class="col-8"><a [routerLink]="['/blogs', blog.id]">{{blog.title}}</a></div>
                    <div class="col-4">
                        <p-rating [ngModel]="blog.blog_stars_avg" readonly="true" [cancel]="false" class="box mx-auto">
                        </p-rating>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>