<p-card [style]="{'height': '100%'}">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-10">
                {{entry.entry}}
            </div>
            <div class="col-2">
                <div *ngIf="entry.stars_avg != null;then content else nullBlock"></div>
                <ng-template #content>
                    <p-rating [ngModel]="entry.stars_avg" readonly="true" [cancel]="false" class="box mx-auto">
                    </p-rating>
                </ng-template>
                <ng-template #nullBlock>Not rated</ng-template>
            </div>
        </div>
    </ng-template>
</p-card>